{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Ikut Kegiatan</title>
{% endblock meta %}

{% block content %}
<h1>ASUUUUUUU</h1>
<div class="kegiatan-list">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Ayo ikut kegiatan</h2>
            <button type="button" class="btn btn-primary btn-lg btn-block">Ikut kegiatan</button>

        </div>


        <div class="row articles">
            {% for peserta in pesertas %}
            
            <div class="col-sm-6 item">
                <h3 class="name">{{ peserta.kegiatan }}</h3>
                <p class="description">{{ peserta.namaPeserta }}</p>
                
            </div>
            {% endfor %}

            </div>
            <button type="button" class="btn btn-primary btn-lg btn-block">Tambah kegiatan</button>
        </div>

</div>


{% endblock content %}