{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Ayo Ikut Kegiatan</title>
{% endblock meta %}

{% block content %}
<div class="create-matkul">
    <h2>Add schedule</h2>
    <form class="site-form" action="{% url 'story6:tambahPeserta' %}" method="POST">
        {% csrf_token %}
        {{form}}
        <input class="btn btn-success" type="submit" value="Add">
    </form>
</div>
{% endblock content %}