{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Schedule</title>
{% endblock meta %}

{% block content %}
<div>
</div>

<div class="matkul-list">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Course Schedule</h2>
            <a href="{% url 'story5:creatematkul' %}"><button type="button" class="btn btn-outline-warning btn-lg btn-block add-btn">Add schedule</button></a>

        </div>
        <div class="row articles">
            {% for matkul in matkuls %}
            <div class="col-sm-6 item">
                <a href="{% url 'story5:matkul_detail' matkul.slug %}"><h3 class="name">{{ matkul.name }}</h3></a>
                <p class="description">{{ matkul.dosen }}</p>
                <a class="action" href="{% url 'story5:matkul_detail' matkul.slug %}">
                    <i class="fa fa-arrow-circle-right"></i></a>
            </div>
            {% endfor %}

            </div>
        </div>
    </div>
</div>
{% endblock content %}