{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Course Schedule</title>
{% endblock meta %}

{% block content %}
<div class="container">
<div class="card detail">
  <div class="card-body">
    <h5 class="card-title">{{matkul.name}}</h5>
    <p class="card-text">{{matkul.desc}}</p>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{matkul.dosen}}</li>
      <li class="list-group-item">{{matkul.sks}} sks</li>
      <li class="list-group-item">{{matkul.semester}}</li>
      <li class="list-group-item">{{matkul.ruang}}</li>
    </ul>
    <a href="{% url 'story5:delete' matkul.id %}" class="btn btn-danger">Delete</a>
  </div>
</div>
</div>
{% endblock content %}
