h1{
    font-size:4vw;
    max-height: 100%;
}

#home{
    background: url("assets/bg.png") no-repeat center center;
    background-size: cover;
    padding: 5%;
    margin: 0px;
}

#edu{
    color: white;
    padding: 0%;
    margin: 0px;
    background-color: #A78B39;
    background-size: cover;
}

#port{
    margin-top: 300px;
    margin-bottom: 50px;
}

#greeting{
    font-size: 3vw;
}

#perkenalan{
    font-size: 2vw;
    padding-right: 8px;
}

.text-nav{
    font-size: 20pt;
}

.showcard{
    margin-top: 100px;
    border: 0px;
    width: 90%;
}

.my-icons{
    max-width: 100%;
    height: auto;
}

.soc-med{
    background: #A78B39;
    margin-left: inherit;
    margin-right: inherit;
    box-shadow: inset 0px 12px 8px -2px rgba(0, 0, 0, 0.25);
    
}

.img-respond{
    max-width: 100%;
    height: auto;
}

.riwayat{
    margin: 50px;
    margin-top: 150px;
    text-shadow: 2px 2px 8px black;
}



.carousel .item {
    height: 100px;
  }
  
.item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 100px;
}

.matkul-list {
    margin-top: 70px;
    color: #313437;
    background-color: #fff;
  }
  
  .matkul-list p {
    color: #7d8285;
  }
  
  .matkul-list h2 {
    font-weight: bold;
    padding-top: 40px;
    color: inherit;
  }
  
  @media (max-width:767px) {
    .matkul-list h2 {
      margin-bottom: 25px;
      padding-top: 25px;
      font-size: 24px;
    }
  }
  
  .matkul-list .intro {
    margin-bottom: 100px;
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto;
  }
  
  .matkul-list .articles {
    padding-bottom: 20px;
  }
  
  .matkul-list .item {
    padding-top: 0px;
    min-height: 200px;
    text-align: center;
  }
  
  .matkul-list .item .name {
    padding: 10px;
    background-color: #A78B39;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    margin: 0 auto;
  }
  
  .matkul-list .item .description {
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 0;
  }
  
  .matkul-list .item .action {
    font-size: 24px;
    width: 24px;
    margin: 22px auto 0;
    line-height: 1;
    display: block;
    color:  #A78B39;
    opacity: 0.85;
    transition: opacity 0.2s;
    text-decoration: none;
  }
    
.detail {

    margin: 50px;
    margin-top: 100px;
    min-height: 500px;
}

.add-btn {
  margin-bottom: 20px;
}

.site-form {
  border: 1px;
  margin: 50px;
  padding: 10px;
  max-height: 500px;
}

.site-form input, .site-form textarea{
  display: block;
}

.btn-danger {
  margin: 10px;
}
