{% load static %}
<html>

<head>
    <title>Story 1- Arllivandhya Dani</title>
</head>

<body>
    <h1>Profile</h1>
    <img src="{% static 'img/the_only_good_photo_of_me.jpg' %}" alt="big think" width="240 px">
    <p>Nama: Arllivandhya Dani <br>
        NPM: 1906398521<br>
        Angkatan: Maung 2019<br>
        Tempat kuliah: Fasilkom UI<br>
        Hobi: Game nfs di ps2<br>
    </p>
    <p>Mahasiswa semester 3 di Fakultas Ilmu Komputer Universitas Indonesia yang terobsesi dengan segala sesuatu
        mengenai otomotif</p>
    <table style="table-layout: fixed; width: 368px">
        <tr>
            <td>SMP</td>
            <td>SMP Budi Mulia Bogor</td>
        </tr>
        <tr>
            <td>SMA</td>
            <td>SMA Negeri 1 Bogor</td>
        </tr>
        <tr>
            <td>Pendidikan tinggi</td>
            <td>Universitas Indonesia</td>
        </tr>
    </table>
    <a href="https://www.twitter.com/benjibeki">
        <img src="{% static 'imgtwt.png' %}" alt="twitter icon" width="36 px">
    </a>
</body>

</html>
