{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Welcome.</title>
{% endblock meta %}

{% block content %}
    <section id="home">
        <div class="container mt-5">
            <div class="card showcard shadow">
                <div class="row">

                    <div class="col-md-4">
                        <img src="{% static 'img/pp.png' %}" class="img-fluid">
                    </div>

                    <div class="col-md-8 mt-3">
                        <h2 id="greeting">What's up</h2>
                        <p id="perkenalan">I am currently a computer science
                            student at the University of Indonesia
                            looking to get a job as a front end
                            developer at your company. In this
                            site, you will have access to my contact
                            information, my social media, and my
                            previous works I have done for my
                            campus and other organizations.

                            Got a question? Email me!
                        </p>
                        <a href = "mailto: arllivandhya.dani@ui.ac.id">
                        <img src="{% static 'img/Component 5.png' %}" class="img-fluid my-icons"></a>
                    </div>

                </div>
                <div class="row justify-content-md-center soc-med my-icons">
                    <div class="row justify-content-center">

                        <div class="col justify-content-center">
                            <a href="https://www.facebook.com/arvand01/">
                            <img src="{% static 'img/Facebook.png' %}" class="img-fluid img-respond"></a>
                        </div>

                        <div class="col justify-content-center">
                            <a href="https://www.instagram.com/ar.lli/">
                            <img src="{% static 'img/Instagram.png' %}" class="img-fluid img-respond"></a>
                        </div>

                        <div class="col justify-content-center">
                            <a href="https://twitter.com/benjibeki">
                            <img src="{% static 'img/Twitter.png' %}" class="img-fluid img-respond"></a>
                        </div>

                        <div class="col justify-content-center">
                            <a href="https://gitlab.com/vandhya">
                            <img src="{% static 'img/Git.png' %}" class="img-fluid img-respond"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="edu">
        <div class="row">
            <div class="col-md-8">
                <div class="container riwayat">
                    <div class="row">
                        <h1>Universitas Indonesia</h1>
                    </div>
                    <div class="row">
                        <p>Fakultas Ilmu Komputer (2019-2023)</p>
                    </div>
                    <div class="row">
                        <h1>SMA Negeri 1 Bogor</h1>
                    </div>
                    <div class="row">
                        <p>2016-2019</p>
                    </div>
                    <div class="row">
                        <h1>SMP Budi Mulia Bogor</h1>
                    </div>
                    <div class="row">
                        <p>2013-2016</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <img src="{% static 'img/edu.png' %}" class="img-fluid">
            </div>
        </div>
    </section>

    <section id="port">
        <a href="{% url 'main:projects' %}">
        <img src="{% static 'img/port.png' %}" class="img-fluid"></a>
        <a href="#home">
        <img src="{% static 'img/Vector 2.png' %}" class="img-fluid" style="margin: 100px; margin-bottom: 0px;"></a>
    </section>
{% endblock content %}
