{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Previous Projects</title>
{% endblock meta %}

{% block content %}
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="{% static 'img/a (1).png' %}" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
                <h5>Vector Arts</h5>
                <p>Vector arts using Adobe Illustrator made for my own enjoyment</p>
              </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="{% static 'img/pemira1.png' %}" alt="Second slide">
            <div class="carousel-caption d-none d-md-block">
                <h5>Pemira 2019</h5>
                <p>One of my works from being part of media, creative, and documentation in Fasilkom's Pemira</p>
              </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="{% static 'img/finalists_blured.png' %}" alt="Third slide">
            <div class="carousel-caption d-none d-md-block">
                <h5>Smansa Punya Liga</h5>
                <p>An example of my work from high school, in an soccer event called SPL</p>
              </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
{% endblock content %}
